/.vs
/Diagram/bin
/Diagram/obj
/packages
/Plugins/CreateDirectoryPlugin/bin
/Plugins/CreateDirectoryPlugin/obj
/Plugins/CScriptingPlugin/bin
/Plugins/CScriptingPlugin/obj
/Plugins/FindUidPlugin/bin
/Plugins/FindUidPlugin/obj
/Plugins/FirstPlugin/bin
/Plugins/FirstPlugin/obj
/Plugins/NcalcPlugin/bin
/Plugins/NcalcPlugin/obj
/Plugins/ScriptingPlugin/bin
/Plugins/ScriptingPlugin/Lib
/Plugins/ScriptingPlugin/obj
/install-windows/files
/install-windows/Output
/install-windows/plugins
