/.vs
/Diagram/bin
/Diagram/obj
/packages
/Plugins/EmptyPlugin/bin
/Plugins/EmptyPlugin/obj
/Plugins/FirstPlugin/bin
/Plugins/FirstPlugin/obj
/Plugins/CreateDirectoryPlugin/bin
/Plugins/CreateDirectoryPlugin/obj
/Plugins/CScriptingPlugin/bin
/Plugins/CScriptingPlugin/obj
/Plugins/FindUidPlugin/bin
/Plugins/FindUidPlugin/obj
/Plugins/CalcPlugin/bin
/Plugins/CalcPlugin/obj
/Plugins/ScriptingPlugin/bin
/Plugins/ScriptingPlugin/Lib
/Plugins/ScriptingPlugin/obj
/install-windows/files
/install-windows/Output
/install-windows/plugins
/install-windows/IronPython.zip
/Plugins/CreateDiagramPlugin/obj
/Plugins/CreateDiagramPlugin/bin
debug.diagram